body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.navbar-style {
    background-color: darkslategrey !important;
}
.div-search {
    text-align: right;
}
.div-search form{
    display: inline-block;
    padding-right: 15px;
}
/*==Footer==*/
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey;
    color: white;
    text-align: center;
}
.branding {
    position: relative;
    display: inline;
    clear: none;
    float: left;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    
}
.row {
 overflow: auto;
 margin: 1.5em auto;
}

.subject-img {
    height: 120px;
    width: 100%
}
#content {
    padding: 25px 50px 25px 50px;
}
.subject-list {
    padding-top: 10px;
    padding-bottom: 10px;
}
.subject-a:hover {
    text-decoration: none;
}
.subject-a {
    background-image: url(../element/Mathslabelled.jpg);
    justify-content: center;
    height: 120px;
    padding: 20px 20px;
    margin-bottom: 0;
    border-radius: 8px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
}
.fmt-form {
    display: inline-block;
    text-align: center;
}
.pg-container{
    text-align: center;
    padding: 25px 50px 25px 50px;
}
.course-list {
    padding-top: 10px;
    padding-bottom: 10px;
}
.course-a {
    background-image: url(../element/cloudcomputing-course1image-378x225.jpg);
    justify-content: center;
    height: 120px;
    padding: 20px 20px;
    margin-bottom: 0;
    border-radius: 8px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
}
.course-a:hover {
    text-decoration: none;
}
/*===Course detail===*/
.pg-content {
    margin-bottom: 24px;
    background: #fff;
    border-bottom: 1px solid #cacaca;
    padding : 20px 0;
    position: relative;
    display: block;
    overflow: auto;
}

.pg-head-left-content {
    display: block;
    float: left;
}

    .pg-head-left-content .img-des {
        display: block;
        float:left;
    }

        .pg-head-left-content .img-des img{
            float: left;
            height: auto;
            width: 100%;
        }

    .pg-head-left-content .course-des {
        display: block;
        float:left;
        text-align: left;
        font-size: 2em;
        font-weight: 600;
        
    }

.pg-head-right-content {
    float: left;
}
.btn-enroll {
    margin: 25px 25px;
    width: 70%;
    font-size: 1.5em;
    font-weight: bold;
}
